<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>234415652122-cda5qh5dfvq6gttntujia02cdvha6j05.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.234415652122-cda5qh5dfvq6gttntujia02cdvha6j05</string>
	<key>API_KEY</key>
	<string>AIzaSyDTV9CdqNdvlpd3hmNlyeBtk28YkRJ1hdg</string>
	<key>GCM_SENDER_ID</key>
	<string>234415652122</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sairakanwal.foodApp</string>
	<key>PROJECT_ID</key>
	<string>food-app-cdc56</string>
	<key>STORAGE_BUCKET</key>
	<string>food-app-cdc56.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:234415652122:ios:02f7914891ffd2312800a3</string>
</dict>
</plist>